@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}

body{
  background-image: url('../IMG/fundoitajr.jpg');
  line-height: 1.8em;  
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5fffa;
    color: #333;
    opacity: 0.9;
    width: 100%;
    height: 4.5rem;
    position: fixed;
    top: 0px;
    padding: 0 2rem;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
}
.navbar h1{
  font-weight: 1000;
}

.navbar a {
    color: #333;
    padding: 0.6rem 1.25rem;
    margin: 0 0.3rem;
    text-decoration:none;
}

.navbar a:hover {
    border-bottom: #ffd700 0.2rem solid;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
  }
  
  #container{
    margin: 9.375rem auto;
    max-width: 25rem;
  }
  .form-wrap{
    border: 0.16rem solid #ffd700;
    border-radius:0.2rem;
    background:#f5fffa;
    padding: 1.25rem;
  }
  .form-wrap h1, .form-wrap p{
    text-align: center;
  }

  .form-group label{
    display:block;
    color: #666;
  }
  .form-group input{
    width:100%;
    padding:0.3rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.3rem;
  }

  .form-wrap, .form-group{
    margin-top: 1rem;
  }
  .btn{
    border: 0.1rem solid #ddd;
    border-radius:0.3rem;
    background: #ffd700;
    color:white;
    padding:0.3rem;
    width:100%;
    margin-top:1rem;
  }
  .bottom-text{
    font-size:1rem;      
  }
  footer{
    text-align: center;
    color:#ddd;
    font-size:1.25rem;
  }